  #prozor{
   -fx-background-color: linear-gradient(to bottom, lightblue 15%, lightgrey 100%);
   }
   .poljeIspravno {
           -fx-control-inner-background: greenyellow;
       }
   .poljeNijeIspravno {
           -fx-control-inner-background: lightpink;
       }
   /*.groupBox {
          -fx-border-color: lightGrey;
          -fx-border-width: 2;
          -fx-border-radius: 2px;
    }*/